body {
  background-color:  rgb(236, 167, 153);
  background-image: linear-gradient(180deg,rgb(164, 198, 227)  20%,  rgb(236, 167, 153) 100%);
  background-repeat: no-repeat;
  font-family: 'Baloo Bhaina 2', cursive;
}

/*
 * - Container
 *
 */

.container {
  box-sizing: border-box;
  max-width: 100%;
  width: 960px;
  margin: 0 auto;
  padding: 1em;
}

.container__logo {
  width: 300px;
  height: 120px;
  margin: 0 auto;
  display: block;
  background: url('../imgs/pwa-logo.svg') no-repeat;
  background-size: contain;
  text-indent: -9000px;
  overflow: hidden;
}

.container__title {
  text-align: center;
  color: #fff;
  text-shadow: 2px 2px 1px #333;
  font-size: 2em;
}

.footer__container {
  text-align: center;
 }

/*
 * - Feature
 *
 */

.feature {
  background-color: #fff;
  margin: 1.5em 0;
  box-shadow: 3px 3px 3px rgba(51, 51, 51, 0.3);
}

.feature__content,
.feature__header,
.feature__footer {
  padding: 1em;
}

.feature__header {
  background-color: rgba(247, 93, 63, 0.3);
  margin-bottom: 1em;
}

.feature__subtitle {
  margin: 0;
  padding: 0;
  color: #333;
}

.feature__content--centered {
  text-align: center;
}

.feature__footer {
  background-color: #f4f4f4;
}

.feature__canvas {
  border: solid #333 1px;
}

.feature__temp {
  font-family: 'Baloo Bhaina 2', cursive;
  text-align: center;
  font-size: 3em;
}

/*
 * - Navigation
 *
 */

.navigation {
  display: flex;
  margin: 1em 0;
  justify-content: space-between;
}

.navigation__next,
.navigation__back {
  background-color: #fff;
  border: none;
  color: #333;
  text-decoration: none;
  flex: 0 auto;
  display: flex;
  align-items: center;
  box-shadow: 3px 3px 3px rgba(51, 51, 51, 0.3);
}

.navigation__next {
  padding-left: 0.5em;
  margin-left: 0.5em;
}

.navigation__back {
  padding-right: 0.5em;
}

.navigation__next:hover,
.navigation__back:hover {
  background-color:rgb(236, 167, 153);
  color: #fff;
}

.navigation__next::after,
.navigation__back::before {
  background-color: rgb(236, 167, 153);
  color: #fff;
  display: inline-block;
  height: 100%;
  padding: 0em 1em;
  font-size: 2em;
  box-sizing: border-box;
  text-align: center;
}

.navigation__next::after {
  content: '\203A';
  margin-left: 0.4em;
}

.navigation__back::before {
  content: '\2039';
  margin-right: 0.4em;
}

/*
 *
 * Controls
 *
 */

.controls--centered {
  text-align: center;
}

.controls__btn {
  background-color: rgb(236, 167, 153);
  color: #fff;
  border: none;
  padding: 1em;
  font-size: 1.2em;
  box-shadow: 3px 3px 3px rgba(51, 51, 51, 0.3);
}

.output--centered {
  text-align: center;
}
